{% extends 'admin/change_list.html' %}

{% block pagination %}{% endblock %}
{% block filters %}{% endblock filters %}
{% block object-tools %}{% endblock object-tools %}
{% block search %}{% endblock %}
 
{% block breadcrumbs %}
<div class="breadcrumbs">
  <a href="{% url 'admin:index' %}">Home</a>
  {% if page_name %} &rsaquo; {{ page_name }}{% endif %}
</div>


{% endblock %}
 
{% block result_list %}
<p class="text-center text-5xl font-montserrat">Graphe d'utilisation</p>
<div class="grid grid-cols-3 py-10">
<div class="max-w-screen-sm">
  <canvas id="myChart"></canvas>
</div>
<div class="max-w-screen-sm">
  <canvas id="Chart2"></canvas>
</div>
<div class="max-w-screen-sm">
  <canvas id="Chart3"></canvas>
</div>
</div>

<p class="text-center text-5xl font-montserrat">Statistiques d'utilisation</p>


<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

<script>
  const ctx = document.getElementById('myChart');

  new Chart(ctx, {
    type: 'bar',
    data: {
      labels: {{article|safe}},
      datasets: [{
        label: 'Popularité',
        data: {{like|safe}},
        borderWidth: 1
      }]
    },
    options: {
      scales: {
        y: {
          beginAtZero: true
        }
      }
    }
  });

  const chart2 = document.getElementById('Chart2');

  new Chart(Chart2, {
    type: 'bar',
    data: {
      labels: {{article|safe}},
      datasets: [{
        label: 'Vues',
        data: {{views|safe}},
        borderWidth: 1
      }]
    },
    options: {
      scales: {
        y: {
          beginAtZero: true
        }
      }
    }
  });

  const chart3 = document.getElementById('Chart3');

  new Chart(Chart3, {
    type: 'bar',
    data: {
      labels: {{article|safe}},
      datasets: [{
        label: 'Rapport like/vue',
        data: {{views_per_like|safe}},
        borderWidth: 1
      }]
    },
    options: {
      scales: {
        y: {
          beginAtZero: true
        }
      }
    }
  });

</script>
{% endblock result_list %}