{% extends 'admin/change_list.html' %}

{% block pagination %}{% endblock %}
{% block filters %}{% endblock filters %}
{% block object-tools %}{% endblock object-tools %}
{% block search %}{% endblock %}
 
{% block breadcrumbs %}
<div class="breadcrumbs">
  <a href="{% url 'admin:index' %}">Home</a>
  {% if page_name %} &rsaquo; {{ page_name }}{% endif %}
</div>


{% endblock %}
 
{% block result_list %}
<p class="text-center text-5xl font-montserrat">Graphes d'utilisation</p>
<div class="grid xl:grid-cols-3 grid-rows-3 xl:grid-rows-1 py-10 gap-5 xl:place-items-stretch place-items-center w-auto align-center">
<div class="max-w-screen-sm w-auto">
  <canvas id="myChart"></canvas>
</div>
<div class="max-w-screen-sm w-auto">
  <canvas id="Chart2"></canvas>
</div>
<div class="max-w-screen-sm w-auto">
  <canvas id="Chart3"></canvas>
</div>
</div>

<p class="text-center text-5xl font-montserrat py-10">Statistiques d'utilisation</p>

<div class="flex flex-col place-items-center">
<table class="table-auto max-w-screen-sm">
  <thead>
    <tr>
      <th>Nom de la donnée</th>
      <th>Valeur</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>Total de vues :</td> 
      <td>{{totalViews}}</td>
    </tr>
    <tr>
      <td>Total de likes :</td> 
      <td>{{totalLikes}}</td>
    </tr>
    <tr>
      <td>Nombre d'articles :</td> 
      <td>{{totalArticle}}</td>
    </tr>
    <tr>
      <td>Nombre de catégories :</td> 
      <td>{{totalCategorie}}</td>
    </tr>
  </tbody>
</table>
</div>

<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

<script>
  const ctx = document.getElementById('myChart');

  new Chart(ctx, {
    type: 'bar',
    data: {
      labels: {{article|safe}},
      datasets: [{
        label: 'Popularité',
        data: {{like|safe}},
        borderWidth: 1
      }]
    },
    options: {
      scales: {
        y: {
          beginAtZero: true
        }
      },
      plugins:{
        title:{
          display:true,
          text:"Popularité des articles"
        }
      }
    }
  });

  const chart2 = document.getElementById('Chart2');

  new Chart(Chart2, {
    type: 'bar',
    data: {
      labels: {{article|safe}},
      datasets: [{
        label: 'Vues',
        data: {{views|safe}},
        borderWidth: 1
      }]
    },
    options: {
      scales: {
        y: {
          beginAtZero: true
        }
      },
      plugins:{
        title:{
          display:true,
          text:"Visibilité des articles"
        }
      }
    }
    });

  const chart3 = document.getElementById('Chart3');

  new Chart(Chart3, {
    type: 'bar',
    data: {
      labels: {{article|safe}},
      datasets: [{
        label: 'Rapport like/vue',
        data: {{views_per_like|safe}},
        borderWidth: 1
      }]
    },
    options: {
      scales: {
        y: {
          beginAtZero: true,
          max: 1
        }
      },
      plugins:{
        title:{
          display:true,
          text:"Rapport nombre de likes par nombre de vues"
        }
      }
    }
    });

</script>
{% endblock result_list %}