{% load static tailwind_tags %}
{% load static %}
{% load widget_tweaks %}

<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Nous contacter</title>

    <link rel="stylesheet" href="{% static 'polls/style.css' %}">
    {% tailwind_css %}

</head>
<body class="bg-zinc-100">
    {%block header%}
    {%endblock%}

    <div class="static 2xl:pb-96 pb-10 pt-20">
        <img src="{%static '/blog/images/map.avif'%}" alt="" class="max-h-128 w-full object-cover h-128">
    <div class="text-center font-montserrat 2xl:absolute inset-80 2xl:bg-white left-128 right-128 top-80 -bottom-3 rounded-lg z-20 px-10 ">
        <h1 class="text-5xl font-bold py-10">Nous contacter</h1>
        <form action="" method="post" class="max-w-md mx-auto">
            {% csrf_token %}
            <div class="relative z-0 w-full mb-5 group">
                {%render_field formContact.nom class="block py-2.5 px-0 w-full text-sm text-secondary bg-transparent border-0 border-b-2 border-gray-300 appearance-none focus:outline-none focus:ring-0 focus:border-primary peer"%}
            </div>
            <div class="relative z-0 w-full mb-5 group">
                {%render_field formContact.prenom class="block py-2.5 px-0 w-full text-sm text-gray-900 bg-transparent border-0 border-b-2 border-gray-300 appearance-none focus:outline-none focus:ring-0 focus:border-primary peer"%}
            </div>
            <div class="grid md:grid-cols-2 md:gap-6">
            <div class="relative z-0 w-full mb-5 group">
                {%render_field formContact.tel class="block py-2.5 px-0 w-full text-sm text-gray-900 bg-transparent border-0 border-b-2 border-gray-300 appearance-none focus:outline-none focus:ring-0 focus:border-primary peer"%}
            </div>
            <div class="relative z-0 w-full mb-5 group">
                {%render_field formContact.sujet class="block py-2.5 px-0 w-full text-sm text-gray-900 bg-transparent border-0 border-b-2 border-gray-300 appearance-none focus:outline-none focus:ring-0 focus:border-primary peer"%}
            </div>
            </div>
            <div class="pb-5">
                {%render_field formContact.message class="block py-2.5 px-0 max-h-32 w-full text-sm text-gray-900 bg-transparent border-0 border-b-2 border-gray-300 appearance-none focus:outline-none focus:ring-0 focus:border-primary resize-none peer"%}
            </div>
            <input type="submit" value="Soumettre" class="w-auto px-20 bg-primary border-blanc text-blanc font-montserrat rounded-lg inline-block box-border border-2 rounded-x1 hover:bg-blanc hover:text-primary hover:border-primary duration-1000 h-12 font-bold">
    {%if success%}
            <div class="pt-10">
      <div class="p-4 mb-4 text-sm rounded-lg bg-green-200" role="alert">
        <span class="font-medium">Succès !</span> Le formulaire a bien été envoyé
      </div>
    {%endif%}
        </div>
        </form>
    </div>
</div>



    {%block footer%}
    {%endblock%}
</body>