{% load static tailwind_tags %}
{% load static %}
<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{{article.title}}</title>

        {% tailwind_css %}
    </head>

    <body class="font-montserrat">
        {%block header%}
        {%endblock%}

        <span class="flex flex-row gap-5 text-md text-quaternary place-items-center pt-20 xl:px-20 px-5">{%for categorie in categories%} <span class="font-bold text-lg text-black"> {{categorie}}</span> {%endfor%}{{article.pub_date}}</span>
        <div class="flex flex-col place-items-center">
        <div><h1 class="text-5xl text-center py-5 pb-20 font-bold">{{article.title}}</h1></div>
        <div class="px-20"><img src="{{MEDIA_URL}}{{article.image}}" alt="article image" class="rounded-lg w-full max-h-128 object-cover"></div>
        </div>
        <div class="font-caveat text-justify xl:px-60 py-20 text-tertiary subpixel-antialiased	font-medium tracking-wide leading-relaxed text-pretty px-5">
        <p>{{article.contexte}}</p>
        <p class="py-10">{{article.content.paragraphe_1}}</p>
        <blockquote class="p-4 my-4 border-s-4 border-gray-300 dark:border-gray-500">
            <p class="text-xl italic font-medium leading-relaxed text-gray-900">{{article.content.citation}}</p>
            <p class="font-semibold">-  {{article.content.citation_auteur}}</p>
        </blockquote>
        <p class="py-10">{{article.content.paragraphe_2}}</p>
        <img src="{{MEDIA_URL}}{{article.image_illus}}" alt="image illustration" class="rounded-lg w-full max-h-96 object-cover">
        <p class="pt-10">{{article.content.paragraphe_3}}</p>

       <div class="text-center pt-10"> Avez-vous aimé cet article ? <br>
        <div class="flex flec-col gap-3 justify-center">
       <form action="" method="post" class="text-center">
        {% csrf_token %}
        <button type="submit", name="like"><svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-7 h-7 hover:stroke-primary transition duration-500 {%if has_liked%}stroke-primary{%endif%}">
            <path stroke-linecap="round" stroke-linejoin="round" d="M6.633 10.25c.806 0 1.533-.446 2.031-1.08a9.041 9.041 0 0 1 2.861-2.4c.723-.384 1.35-.956 1.653-1.715a4.498 4.498 0 0 0 .322-1.672V2.75a.75.75 0 0 1 .75-.75 2.25 2.25 0 0 1 2.25 2.25c0 1.152-.26 2.243-.723 3.218-.266.558.107 1.282.725 1.282m0 0h3.126c1.026 0 1.945.694 2.054 1.715.045.422.068.85.068 1.285a11.95 11.95 0 0 1-2.649 7.521c-.388.482-.987.729-1.605.729H13.48c-.483 0-.964-.078-1.423-.23l-3.114-1.04a4.501 4.501 0 0 0-1.423-.23H5.904m10.598-9.75H14.25M5.904 18.5c.083.205.173.405.27.602.197.4-.078.898-.523.898h-.908c-.889 0-1.713-.518-1.972-1.368a12 12 0 0 1-.521-3.507c0-1.553.295-3.036.831-4.398C3.387 9.953 4.167 9.5 5 9.5h1.053c.472 0 .745.556.5.96a8.958 8.958 0 0 0-1.302 4.665c0 1.194.232 2.333.654 3.375Z" />
          </svg> </button>
       </form>

       <form action="" method="post" class="text-center">
        {% csrf_token %}
        <button type="submit", name="dislike"><svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-7 h-7 hover:stroke-primary transition duration-500 {%if has_disliked%}stroke-primary{%endif%}">
            <path stroke-linecap="round" stroke-linejoin="round" d="M7.498 15.25H4.372c-1.026 0-1.945-.694-2.054-1.715a12.137 12.137 0 0 1-.068-1.285c0-2.848.992-5.464 2.649-7.521C5.287 4.247 5.886 4 6.504 4h4.016a4.5 4.5 0 0 1 1.423.23l3.114 1.04a4.5 4.5 0 0 0 1.423.23h1.294M7.498 15.25c.618 0 .991.724.725 1.282A7.471 7.471 0 0 0 7.5 19.75 2.25 2.25 0 0 0 9.75 22a.75.75 0 0 0 .75-.75v-.633c0-.573.11-1.14.322-1.672.304-.76.93-1.33 1.653-1.715a9.04 9.04 0 0 0 2.86-2.4c.498-.634 1.226-1.08 2.032-1.08h.384m-10.253 1.5H9.7m8.075-9.75c.01.05.027.1.05.148.593 1.2.925 2.55.925 3.977 0 1.487-.36 2.89-.999 4.125m.023-8.25c-.076-.365.183-.75.575-.75h.908c.889 0 1.713.518 1.972 1.368.339 1.11.521 2.287.521 3.507 0 1.553-.295 3.036-.831 4.398-.306.774-1.086 1.227-1.918 1.227h-1.053c-.472 0-.745-.556-.5-.96a8.95 8.95 0 0 0 .303-.54" />
          </svg></button>
       </form>
    </div>

        </div>




        </div>
        <div class="font-montserrat pt-5 xl:px-20 px-5 pb-10">
        <div class="xl:flex xl:flex-row place-items-baseline text-center xl:text-left">
            <div class="grow"><h1 class="text-3xl font-bold py-10 xl:pb-20">Articles qui pourraient vous intéresser</h1></div>
            <div class="order-last"><a class="text-center my-auto mx-auto w-auto py-2 px-10 bg-primary border-primary text-blanc font-montserrat rounded-lg inline-block box-border border-2 rounded-x1 hover:bg-blanc hover:text-primary hover:border-primary duration-1000 h-12 font-bold" href="/article">En voir plus</b></a></div>
        </div>
        <div class="2xl:grid 2xl:grid-cols-3 pt-3 xl:max-w-full gap-3">
            {%for article in popular_article%}
            <div class="grid grid-rows-2 place-items-center">
                <div><img src="{{MEDIA_URL}}{{article.image}}" alt="blog image" class="rounded-lg h-96 max-w-72 max-h-72 object-fill"></div>
                <div class="pt-2 xl:pr-28 xl:pl-28">
                    <span class="flex flex-row gap-5 text-xs text-quaternary place-items-center">{{article.pub_date}}</span>
                    <h2 class="text-3xl font-bold py-2 max-w-72 text-sm">{{article.title}}</h2>
                    <p class="font-caveat text-justify pb-5 text-xs self-top place-self-stretch max-w-72 xl:max-w-80 truncate text-wrap">{{article.contexte}}</p>
                    <div><a href="../../{{article.slug}}/detail" class="text-primary">En savoir plus</a></div>
                </div>
            </div>
            {%endfor%}
        </div>
        </div>


        {%block footer%}
        {%endblock%}
    </body>


</html>