{% load static tailwind_tags %}
{% load static %}
{% load widget_tweaks %}

<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Nous contacter</title>

    <link rel="stylesheet" href="{% static 'polls/style.css' %}">
    {% tailwind_css %}

</head>
<body class="bg-zinc-100 font-montserrat">
    {%block header%}
    {%endblock%}

    <div class="flex flex-col text-center py-10 place-items-center">
        <div><h1 class="text-5xl py-5">Se mettre en contact</h1></div>
        <div><h3 class="text-tertiary max-w-screen-lg">Contact us to publish your content and show ads to our website and get a good reach</h3></div>
    </div>

    <div class="grid xl:grid-cols-3 grid-rows-3 xl:grid-rows-1 place-items-center py-10 gap-20 px-20">
        <div class="grid grid-rows-3 text-center w-full bg-white rounded-lg p-10">
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-10 h-10 place-self-center bg-primary p-2 rounded-full stroke-white">
                <path stroke-linecap="round" stroke-linejoin="round" d="m2.25 12 8.954-8.955c.44-.439 1.152-.439 1.591 0L21.75 12M4.5 9.75v10.125c0 .621.504 1.125 1.125 1.125H9.75v-4.875c0-.621.504-1.125 1.125-1.125h2.25c.621 0 1.125.504 1.125 1.125V21h4.125c.621 0 1.125-.504 1.125-1.125V9.75M8.25 21h8.25" />
              </svg>              
            <p class="text-primary font-bold pt-2">Office</p>
            <p >Victoria Street, London, UK</p>
        </div>
        <div class="grid grid-rows-3 text-center w-full bg-white rounded-lg p-10">
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-10 h-10 place-self-center bg-primary p-2 rounded-full stroke-white">
                <path stroke-linecap="round" stroke-linejoin="round" d="M21.75 6.75v10.5a2.25 2.25 0 0 1-2.25 2.25h-15a2.25 2.25 0 0 1-2.25-2.25V6.75m19.5 0A2.25 2.25 0 0 0 19.5 4.5h-15a2.25 2.25 0 0 0-2.25 2.25m19.5 0v.243a2.25 2.25 0 0 1-1.07 1.916l-7.5 4.615a2.25 2.25 0 0 1-2.36 0L3.32 8.91a2.25 2.25 0 0 1-1.07-1.916V6.75" />
              </svg>              
            <p class="text-primary font-bold pt-2">Email</p>
            <a class="underline decoration-sky-700" href="mailto:test@test.fr"><p class="text-sky-700">test@test</p></a>
        </div>
        <div class="grid grid-rows-3 text-center w-full bg-white rounded-lg p-10">
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-10 h-10 place-self-center bg-primary p-2 rounded-full stroke-white">
                <path stroke-linecap="round" stroke-linejoin="round" d="M2.25 6.75c0 8.284 6.716 15 15 15h2.25a2.25 2.25 0 0 0 2.25-2.25v-1.372c0-.516-.351-.966-.852-1.091l-4.423-1.106c-.44-.11-.902.055-1.173.417l-.97 1.293c-.282.376-.769.542-1.21.38a12.035 12.035 0 0 1-7.143-7.143c-.162-.441.004-.928.38-1.21l1.293-.97c.363-.271.527-.734.417-1.173L6.963 3.102a1.125 1.125 0 0 0-1.091-.852H4.5A2.25 2.25 0 0 0 2.25 4.5v2.25Z" />
              </svg>              
            <p class="text-primary font-bold pt-2">Phone</p>
            <p >01 02 03 04 05</p>
        </div>
    </div>

<div class="static 2xl:pb-96 pb-10 pt-20">
        <img src="{%static '/blog/images/map.avif'%}" alt="" class="max-h-256 w-full object-cover h-256 -mt-24">
    <div class="text-center font-montserrat 2xl:absolute 2xl:bg-white inset-x-0 -bottom-112 left-128 right-128 rounded-lg z-20 px-10 p-5 ">
        <h1 class="text-5xl font-bold py-10">Nous contacter</h1>
        <form action="" method="post" class="max-w-md mx-auto">
            {% csrf_token %}
            <div class="relative z-0 w-full mb-5 group">
                {%render_field formContact.nom class="block py-2.5 px-0 w-full text-sm text-secondary bg-transparent border-0 border-b-2 border-gray-300 appearance-none focus:outline-none focus:ring-0 focus:border-primary peer"%}
            </div>
            <div class="relative z-0 w-full mb-5 group">
                {%render_field formContact.prenom class="block py-2.5 px-0 w-full text-sm text-gray-900 bg-transparent border-0 border-b-2 border-gray-300 appearance-none focus:outline-none focus:ring-0 focus:border-primary peer"%}
            </div>
            <div class="grid md:grid-cols-2 md:gap-6">
            <div class="relative z-0 w-full mb-5 group">
                {%render_field formContact.tel class="block py-2.5 px-0 w-full text-sm text-gray-900 bg-transparent border-0 border-b-2 border-gray-300 appearance-none focus:outline-none focus:ring-0 focus:border-primary peer"%}
            </div>
            <div class="relative z-0 w-full mb-5 group">
                {%render_field formContact.sujet class="block py-2.5 px-0 w-full text-sm text-gray-900 bg-transparent border-0 border-b-2 border-gray-300 appearance-none focus:outline-none focus:ring-0 focus:border-primary peer"%}
            </div>
            </div>
            <div class="pb-5">
                {%render_field formContact.message class="block py-2.5 px-0 max-h-32 w-full text-sm text-gray-900 bg-transparent border-0 border-b-2 border-gray-300 appearance-none focus:outline-none focus:ring-0 focus:border-primary resize-none peer"%}
            </div>
            <input type="submit" value="Soumettre" class="w-auto px-20 bg-primary border-blanc text-blanc font-montserrat rounded-lg inline-block box-border border-2 rounded-x1 hover:bg-blanc hover:text-primary hover:border-primary duration-1000 h-12 font-bold">
        {%if success%}
            <div class="pt-10">
      <div class="p-4 mb-4 text-sm rounded-lg bg-green-200" role="alert">
        <span class="font-medium">Succès !</span> Le formulaire a bien été envoyé
      </div>
        {%endif%}
        </div>
        </form>
    </div>
</div>



    {%block footer%}
    {%endblock%}
</body>