{% load static tailwind_tags %}
{% load static %}

<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Accueil du blog</title>

    <link rel="stylesheet" href="{% static 'blog/style.css' %}">
    {% tailwind_css %}

</head>
<body class="overflow-x-hidden bg-zinc-100">
    {%block header%}
    {%endblock%}

     
    <div class="shadow-lg shadow-gris-900 grid xl:grid-cols-2 sm:grid-rows-2 xl:grid-rows-1 bg-gradient-to-r from-violet-700 to-violet-800 text-blanc place-items-center font-montserrat grid-rows-1">
        {%if featured_article%}
        {%for article in featured_article%}
        <div class="xl:py-20 py-5 align-self px-20 text-center xl:text-left">
            <span class="text-xl">Article mis en avant</span>
            <h1 class="text-5xl font-bold py-10 ">{{article.title}}</h1>
            <div class="flex flex-row place-content-center"><p class="font-caveat pb-10 text-justify xl:pr-40 max-w-screen-sm troncate">{{article.contexte}}</p></div>
            <a class="text-center my-auto mx-auto w-auto h-full py-2 px-10 bg-blanc border-primary text-secondary font-montserrat rounded-lg inline-block box-border border-2 rounded-x1 hover:bg-primary hover:text-white hover:border-white duration-1000 h-12 font-bold troncate" href="{{article.slug}}/detail">En savoir plus</b></a>
        </div>
        <div class="flex flex-row place-content-center xl:py-20 xl:pr-10 row-start-1 xl:col-start-2 xl:row-start-auto sm:w-auto w-0 py-10">
            <img src="{{MEDIA_URL}}{{article.image}}" alt="Image from the featured article" class="shadow-lg shadow-purple-800 rounded-lg sm:max-w-screen-sm">
            </div>
        </div>
        {%endfor%}
        {%else%}
        <div class="py-20 align-self px-20 place-self-center">
            <h1 class="text-5xl font-bold py-10 text-center">Désolé aucun article n'a été mis en avant !</h1>
        </div>
        {%endif%}
    </div>
    <div class="font-montserrat py-10 xl:px-20 px-5">
        <div class="xl:flex xl:flex-row place-items-baseline text-center xl:text-left">
            <div class="grow"><h1 class="text-5xl font-bold py-10 xl:pb-20">Nos nouveaux articles</h1></div>
            <div class="order-last"><a class="text-center my-auto mx-auto w-auto py-2 px-10 bg-primary border-primary text-blanc font-montserrat rounded-lg inline-block box-border border-2 rounded-x1 hover:bg-blanc hover:text-primary hover:border-primary duration-1000 h-12 font-bold" href="/article">En voir plus</b></a></div>
        </div>
        {%if last_article%}
        {%for article in last_article%}
        <div class="xl:grid xl:grid-cols-2 grid-rows-2 xl:grid-rows-1 grid-cols-1 place-items-center content-center font-montserrat pt-10 text-center xl:text-left">
            <div class="flex flex-row place-content-center"><img src="{{article.image.url}}" alt="Latest article picture" class="rounded-lg xl:max-w-screen-sm max-w-80 max-h-96 xl:max-h-none object-fill h-96 "></div>
            <div class="xl:pl-20">
                <span class="flex flex-row gap-5 text-sm text-quaternary xl:place-content-start place-content-center text-center xl:text-left pt-10 xl:pt-0">{%for categorie in categories_last_article%} <span class="font-bold text-lg text-black"> {{categorie}}</span> {%endfor%}{{article.pub_date|date:"SHORT_DATE_FORMAT"}}</span>
                <h2 class="text-3xl font-bold py-10 xl:max-w-screen-sm">{{article.title}}</h2>
               <div class="flex flex-row place-content-center"> <p class="font-caveat pb-10 text-justify xl:pr-20 max-w-screen-sm text-wrap max-w-80 place-self-stretch truncate">{{article.contexte}}</p></div>
                <a class="text-center my-auto mx-auto w-auto h-full py-2 px-10 bg-blanc border-primary text-secondary font-montserrat rounded-lg inline-block box-border border-2 rounded-x1 hover:bg-primary hover:text-white hover:border-white duration-1000 h-12 font-bold" href="{{article.slug}}/detail">En savoir plus</b></a>

            </div>
        </div>
        {%endfor%}
        {%else%}
        <p class="text-3xl font-montserrat text-center py-20">Désolé, il n'y a rien à afficher ici</p>
        {%endif%}

        <div class="2xl:grid 2xl:grid-cols-3 pt-20 xl:max-w-full gap-5">
            {%for article in latest_article%}
            <div class="grid grid-rows-2 place-items-center">
                <div><img src="{{MEDIA_URL}}{{article.image}}" alt="blog image" class="rounded-lg h-96 max-w-80 max-h-96 object-fill"></div>
                <div class="sm:pt-10 xl:pr-28 xl:pl-28">
                    <span class="flex flex-row gap-5 text-xs text-quaternary place-items-center">{{article.pub_date|date:"SHORT_DATE_FORMAT"}}</span>
                    <h2 class="text-3xl font-bold py-2 max-w-96 text-sm">{{article.title}}</h2>
                    <p class="font-caveat text-justify pb-5 text-sm self-top place-self-stretch max-w-80 xl:max-w-96 truncate text-wrap">{{article.contexte}}</p>
                    <div><a href="{{article.slug}}/detail" class="text-primary">En savoir plus</a></div>
                </div>
            </div>
            {%endfor%}
        </div>


            <div class="xl:flex xl:flex-row place-items-baseline text-center xl:text-left">
                <div class="grow"><h1 class="text-5xl font-bold py-10 xl:pb-20">Nos articles les plus populaires</h1></div>
                <div class="order-last"><a class="text-center my-auto mx-auto w-auto py-2 px-10 bg-primary border-primary text-blanc font-montserrat rounded-lg inline-block box-border border-2 rounded-x1 hover:bg-blanc hover:text-primary hover:border-primary duration-1000 h-12 font-bold" href="/article">En voir plus</b></a></div>
            </div>
        <div class="2xl:grid 2xl:grid-cols-3 pt-20 xl:max-w-full gap-5">
            {%for article in popular_article%}
            <div class="grid grid-rows-2 place-items-center">
                <div><img src="{{MEDIA_URL}}{{article.image}}" alt="blog image" class="rounded-lg h-96 max-w-80 max-h-96 object-fill"></div>
                <div class="pt-10 xl:pr-28 xl:pl-28">
                    <span class="flex flex-row gap-5 text-xs text-quaternary place-items-center">{{article.pub_date|date:"SHORT_DATE_FORMAT"}}</span>
                    <h2 class="text-3xl font-bold py-2 max-w-96 text-sm">{{article.title}}</h2>
                    <p class="font-caveat text-justify pb-5 text-sm self-top place-self-stretch max-w-80 xl:max-w-96 truncate text-wrap">{{article.contexte}}</p>
                    <div><a href="{{article.slug}}/detail" class="text-primary">En savoir plus</a></div>
                </div>
            </div>
            {%endfor%}
        </div>

    </div>
</body>




{%block footer%}
{%endblock%}
</html>