{% load static tailwind_tags %}
{% load static %}
<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Liste des articles</title>

        {% tailwind_css %}
    </head>

    <body class="font-montserrat overflow-x-hidden bg-zinc-100">
        {%block header%}
        {%endblock%}

        <div class="flex flex-col text-center py-10 place-items-center">
            <div><span class="">Notre blog</span></div>
            <div><h1 class="text-5xl py-5">Trouvez tous les articles ici</h1></div>
            <div><h3 class="text-tertiary max-w-screen-lg">our blogs are written from very research research and well known writers writers so that  we can provide you the best blogs and articles articles for you to read them all along</h3></div>
        </div>

        <div class="flex flex-col place-items-center py-10">
            <form class="w-80">   
                <label for="default-search" class="mb-2 text-sm font-medium text-gray-900 sr-only">Search</label>
                <div class="relative">
                    <div class="absolute inset-y-0 start-0 flex items-center ps-3 pointer-events-none">
                        <svg class="w-4 h-4 text-gray-500 stroke-primary" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 20 20">
                            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m19 19-4-4m0-7A7 7 0 1 1 1 8a7 7 0 0 1 14 0Z"/>
                        </svg>
                    </div>
                    <input type="search" name="search" class="block w-full p-4 ps-10 text-sm text-gray-900 border border-gray-300 rounded-lg bg-gray-50 focus:ring-primary focus:border-primary" placeholder="Entrez le titre de l'article" required>
                    <button type="submit" class="text-white absolute end-2.5 bottom-2.5 bg-primary hover:bg-blanc hover:text-primary border hover:border-primary transition duration-1000 focus:ring-4 focus:outline-none focus:ring-primary font-medium rounded-lg text-sm px-4 py-2 ">Search</button>
                </div>
            </form>
        </div>


        {%if articles%}
        <div class="flex flex-row place-content-center">
        <div class="2xl:grid 2xl:grid-cols-3 2xl:px-40 sm:max-w-screen-sm 2xl:max-w-full pb-10">
        {%for article in articles%}
        <div class="grid grid-rows-2 place-items-center py-5 xl:py-0">
            <div class="flex flex-row place-content-center"><img src="{{article.image.url}}" alt="Latest article picture" class="rounded-lg xl:max-w-96 max-w-80 max-h-96 xl:max-h-none object-fill h-96"></div>
            <div class="pt-4 xl:pr-28 xl:pl-28">
                <span class="flex flex-row gap-5 text-xs text-quaternary place-items-center px-5">{{article.pub_date}}</span><span class="font-bold text-lg text-black"></span>
                <h2 class="text-3xl font-bold py-2 max-w-prose text-sm px-5">{{article.title}}</h2>
                <p class="font-caveat text-justify pb-5 text-sm self-top place-self-stretch max-w-80 xl:max-w-96 truncate text-wrap px-5">{{article.contexte}}</p>
                <a href="../{{article.slug}}/detail" class="text-primary">En savoir plus</a>
            </div>
        </div>
        {%endfor%}
        {%else%}
        <p class="text-center text-5xl font-montserrat pt-20 pb-10 font-bold">Désolé votre recherche ne mène à aucun résultat</p>
        <p class="text-3xl font-semibold font-montserrat pb-20 text-center">Veuillez réessayer s'il vous plaît</p>
        {%endif%}
        </div>
    </div>



        {%block footer%}
        {%endblock%}
    </body>