{% load static tailwind_tags %}
{% load static %}

<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Page de blog</title>

    <link rel="stylesheet" href="{% static 'polls/style.css' %}">
    {% tailwind_css %}

</head>
<body>
    {%block header%}
    {%endblock%}


    <div class="xl:grid xl:grid-cols-2 bg-primary text-blanc place-items-center font-montserrat">
        {%if featured_article%}
        <div class="py-20 align-self px-20">
            <span class="text-xl">Article mis en avant</span>
            <h1 class="text-5xl font-bold py-10 ">{{featured_article.title}}</h1>
            <p class="font-caveat pb-10 text-justify xl:pr-40 max-w-screen-sm">{{featured_article.contexte}}</p>
            <a class="text-center my-auto mx-auto w-auto py-2 px-10 bg-blanc border-primary text-secondary font-montserrat rounded-lg inline-block box-border border-2 rounded-x1 hover:bg-primary hover:text-white hover:border-white duration-1000 h-12 font-bold" href="{{featured_article.content_id}}/detail">En savoir plus</b></a>
        </div>
        <div class="py-20 pr-10">
            <img src="{%static 'blog/images/'%}{{featured_article.image}}" alt="Image from the featured article" class="rounded-lg  max-w-screen-sm w-0 xl:w-auto">
            </div>
        </div>
        {%else%}
        <div class="py-20 align-self px-20">
            <h1 class="text-5xl font-bold py-10 ">Désolé aucun article n'a été mis en avant !</h1>
        </div>
        {%endif%}
    </div>
    <div class="font-montserrat py-10 xl:px-20">
        <div class="xl:flex xl:flex-row place-items-center">
            <div class="grow"><h1 class="text-5xl font-bold py-10 pb-20">Nos nouveaux articles</h1></div>
            <div class="order-last"><a class="text-center my-auto mx-auto w-auto py-2 px-10 bg-primary border-primary text-blanc font-montserrat rounded-lg inline-block box-border border-2 rounded-x1 hover:bg-blanc hover:text-primary hover:border-primary duration-1000 h-12 font-bold" href="{{featured_article.content_id}}/detail">En voir plus</b></a></div>
        </div>
    
        <div class="xl:grid xl:grid-cols-2 grid-rows-2 xl:grid-rows-1 place-items-center font-montserrat pt-10 text-center xl:text-left justify-items-center">
            <div><img src="{%static 'blog/images/'%}{{last_article.image}}" alt="Latest article picture" class="rounded-lg xl:max-w-screen-sm max-w-96"></div>
            <div>
                <span class="flex flex-row gap-5 text-sm text-quaternary place-items-center text-center xl:text-left">{%for categorie in categories_last_article%} <span class="font-bold text-lg text-black"> {{categorie}}</span> {%endfor%}{{last_article.pub_date}}</span>
                <h2 class="text-3xl font-bold py-10 max-w-screen-sm">{{last_article.title}}</h2>
                <p class="font-caveat pb-10 xl:text-justify pr-20 max-w-screen-sm">{{last_article.contexte}}</p>
                <a class="text-center my-auto mx-auto w-auto py-2 px-10 bg-blanc border-primary text-secondary font-montserrat rounded-lg inline-block box-border border-2 rounded-x1 hover:bg-primary hover:text-white hover:border-white duration-1000 h-12 font-bold" href="{{last_article.content_id}}/detail">En savoir plus</b></a>

            </div>
        </div>

        <div class="xl:grid xl:grid-cols-3 pt-20 max-w-screen-sm xl:max-w-full">
            {%for article in latest_article%}
            <div class="grid grid-rows-2 place-items-center items-start">
                <div><img src="{%static 'blog/images/'%}{{article.image}}" alt="blog image" class="rounded-lg h-96 max-w-96 max-h-96 object-fill"></div>
                <div class="pt-10 xl:pr-28 xl:pl-28">
                    <span class="flex flex-row gap-5 text-xs text-quaternary place-items-center">{{article.pub_date}}</span>
                    <h2 class="text-3xl font-bold py-2 max-w-96 text-sm">{{article.title}}</h2>
                    <p class="font-caveat pb-10 text-justify text-sm max-h-32 self-top place-self-stretch max-w-96">{{article.contexte}}</p>
                    <a href="{{article.content_id}}/detail" class="text-primary">En savoir plus</a>
                </div>
            </div>
            {%endfor%}
        </div>

    </div>
</body>




{%block footer%}
{%endblock%}
</html>